/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300;
  }
  
  /* Când clasa .dark este pe <html>, aplicăm aceste stiluri pe body */
  html.dark body {
    @apply bg-[#020617] text-slate-100;
  }
}

/* Dacă ai stiluri custom din app.css, le poți pune aici jos */