@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adăugăm câteva setări de bază pentru a arăta mai bine */
body {
  @apply bg-slate-50 text-slate-900 antialiased;
  margin: 0;
  display: block; /* Eliminăm centrarea forțată de Vite */
  min-height: 100vh;
}